.root{
    -fx-font-size: 18pt;
    -fx-font-family: "Roboto";
    -fx-base: rgb(217, 228, 247);
    -fx-background: rgb(111, 137, 170);
    -fx-border-color: rgb(49, 89, 23);
    -fx-text-fill: rgb(49, 89, 23);
    -fx-background-color: linear-gradient(#4431ff, #44b2ff, #ffffff)
}

.button{
    -fx-border-radius: 5;
    -fx-margin: 10px;
    -fx-padding: 10px;
    -fx-background: rgb(111, 137, 170);
    -fx-background-radius: 5;
}

