.default-color0.chart-pie { -fx-pie-color: #0000ff; }
.default-color1.chart-pie { -fx-pie-color: #c1cedb; }
.default-color2.chart-pie { -fx-pie-color: #00c44d; }
.default-color3.chart-pie { -fx-pie-color: #ffff00; }
.default-color4.chart-pie { -fx-pie-color: #ff0000; }
.default-color5.chart-pie { -fx-pie-color: #ffffff; }
.default-color6.chart-pie { -fx-pie-color: #e6f7ff; }
.default-color7.chart-pie { -fx-pie-color: #000000; }